@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Montserrat Fonts ===== */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "MontserratItalic";
  src: url("./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}

/* Default font */
body {
  font-family: "Montserrat", sans-serif;
}